asgi-redis==1.4.3
asgiref==1.1.2
attrs==17.4.0
autobahn==18.3.1
Automat==0.6.0
channels==1.1.6
channels-api==0.4.0
constantly==15.1.0
daphne==1.4.2
Django==1.11
django-cors-headers==2.1.0
django-filter==2.0.0
django-filters==0.2.1
django-rest-framework==0.1.0
django-sslserver==0.20
django-tornado-websockets==0.2.2
djangorestframework==3.7.7
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
msgpack-python==0.5.6
pgpubsub==0.0.5
Pillow==5.2.0
psycogreen==1.0
psycopg2==2.7.4
psycopg2-binary==2.7.5
pytz==2018.3
redis==2.10.6
six==1.11.0
tornado==5.0
Twisted==17.9.0
txaio==2.9.0
zope.interface==4.4.3
